@import "../../app.scss";

.hero {
  overflow: hidden;
  height: calc(100vh - 100px);
  background: linear-gradient(to bottom, #0c0c1d, #111133);
  position: relative;

  .wrapper {
    z-index: 3;
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }

    .textContainer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 42px;
      width: 60%;

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 30px;
        color: white;
        letter-spacing: 10px;
      }

      h1 {
        font-size: 86px;
        color: #66fcf1;
        @include mobile {
          font-size: 40px;
        }
      }

      .buttons {
        z-index: 100;

        a {
          cursor: pointer;
          padding: 12px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          font-weight: bold;
          margin-right: 20px;
        }

        a:hover {
          background-color: white;
          color: black;
        }
      }

      img {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }

    .imageContainer {
      z-index: 100;
      height: 100%;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      padding: 24px;

      @include mobile {
        height: 50%;
        width: 100%;
        top: unset;
        bottom: 0;
      }

      img {
        z-index: 200;
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }

  .slidingTextContainer {
    z-index: 0;
    position: absolute;
    font-size: 40vh;
    bottom: -10px;
    white-space: nowrap;
    color: #ffffff09;
    width: 60%;
  }
}
