@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 70px;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;
      color: #66fcf1;

      @include mobile {
        font-size: 36px;
      }
    }

    h2 {
      color: lightgray;
    }

    span {
      font-weight: 300;
      color: lightgray;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    @include mobile {
      padding: 50px;
      width: 100%;
    }

    .phoneSvg {
      stroke: lightgray;
      position: absolute;
      margin: auto;
      z-index: 10;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      z-index: 599;

      input,
      textarea {
        z-index: 699;
        padding: 20px;
        background-color: white;
        border: 1px solid gray;
        border-radius: 5px;

        @include mobile {
          padding: 10px;
        }
      }

      button {
        color: black;
        border-radius: 5px;
        padding: 20px;
        border: none;
        background-color: #66fcf1;
        cursor: pointer;
        font-weight: 500;
        @include mobile {
          padding: 10px;
        }
      }
    }
  }
}
